.background-content {
  background-color: rgb(116, 26, 107);
  height: 100px;
  width: 290px;
  /* border: 2px solid red; */
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: center;
  margin: 5px 5px;
}
.zzzz
{
  margin: 0px 40px;
}
.homelistmusic-container {
  background-color: rgb(88, 26, 65);
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  color: aliceblue;
}

.homelistmusic-container::-webkit-scrollbar {
  width: 5px;
}

.homelistmusic-container::-webkit-scrollbar-thumb {
  background-color: rgb(134, 114, 138);
  border-radius: 5px;
}

.homelistmusic-newrelease-title {
  font-size: 40px;
  /* padding-left: 40px; */
}

.homelistmusic-newrelease-select {
  display: flex;
  /* padding-left: 20px; */
}

.homelistmusic-ul-display {
  display: none;
}

.homelistmusic-newrelease-select-buttion {
  margin-left: 20px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(65, 24, 62);
  background-color: rgb(88, 26, 65);
  font-size: 16px;
  padding: 8px 30px;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
}

.homelistmusic-newrelease-select-buttion:hover {
  cursor: pointer;
  background-color: rgb(63, 10, 55);
  color: white;
}

.homelistmusic-ul {
  margin-top:  40px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.homelistmusic-newrelease-select-buttion-checked {
  margin-left: 20px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(63, 10, 55);
  font-size: 16px;
  padding: 8px 30px;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
}


.display-content {
  display: none;
}

/* ----------------------------------------------------------------------------- */
.thumail-container {
  height: 100px;
  width: 280px;
  /* border: 2px solid red; */
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: center;
  margin: 5px 5px;
  /* margin-left: 10px */
}

.thumail-container:hover {
  cursor: pointer;
  background-color: rgb(116, 26, 107);
}

.thumnail-img {
  margin-left: 10px;
  flex-grow: 2;
  text-align: center;
  justify-items: center;
}

.thumnail-img-anh {
  max-width: 70px;
  height: auto;
}

.thumnail-content {
  flex-grow: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  overflow: hidden;
}

.thumnail-title {
  height: 22px;
  width: 200px;
  overflow: hidden;
  /* box-sizing: border-box; */
}

.thumnail-artistsNames {
  /* box-sizing: border-box; */
  padding-top: 12px;
  font-size: 12px;
  height: 20px;
  width: 200px;
  overflow: hidden;
}

/* list all music */

.listall-container {
  padding: 30px 30px;
}

.listall-navbar {
  width: 100%;
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.listall-navbar>div:nth-child(1) {
  flex-grow: 7;
  margin-left: 60px;
}

.listall-navbar>div:nth-child(2) {
  flex-grow: 2
}

.listall-navbar>div:nth-child(3) {
  flex-grow: 1
}

.listall-ul {
  list-style: none;
  width: 100%;
}
.listall-ul>ul
{
  list-style: none;
}
.listall-thumnail
{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  margin-top: 10px;
  border-bottom: 2px solid rgb(55, 15, 43);
  border-radius: 3px;
}
.listall-thumnail-checked
{
  background-color: rgb(116, 26, 107);

}
.listall-thumnail:hover{
  background-color: rgb(116, 26, 107);

}
.listall-img
{
  height: 40px;
  width: auto;
}
.listall-img-img
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.listall-content
{
  flex-grow: 8;
  display: flex;
  flex-direction: wrap;
  width: 400px;
  margin-left: 20px;
}
.listall-img-content
{
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  justify-content: center;
  align-items: start;
  max-width: auto;
}
.listall-title{

}
.listall-artistsNames
{

}
.listall-release
{
  width: 100px;
  flex-grow: 2;
}
.listall-time
{
  width: 100px;
  flex-grow: 2;
}
.listall-time-a
{
  margin-left: 20px;
}
/* ===========================================================/ */
.homelistmusic-abum-container{
  display: flex;
  flex-direction: column;
}
.abum-content
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ThumnailAbum-container
{
  display: flex;
  flex-direction: column;
  display: block;
  /* width: 230px; */
  width: calc((1202px/5.8));
  height: 300px;
  margin-top: 40px;
  color: rgb(144, 166, 192);
  box-sizing: border-box;
  overflow: visible;
}
.imgbum-img
{
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
}
.imgbum-img-1
{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  transform: all 0.3s ease-in-out;
  overflow: hidden;
}
.imgbum-img-1:hover
{
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1.1);
}
.img-play
{
  opacity: 0;
  transition: .5s ease;
  position: absolute;
  top: 42%;
  left: 43%;
  font-size: 32px;
  color: white;
}
.ThumnailAbum-description-p
{
  text-align: start;
  margin: 0 10px;
  display: block;
  width: auto;
  height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: clip;
}